### Tutorial 3- Creating Tables And Inserting Records

In [1]:
### Create MySQL Connection And Connect
import mysql.connector as sql

connection = sql.connect(
  host="localhost",
  user="root",
  password="password",
  database="student"
)

print(connection)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001C8FEEABD08>

### Create Table In MySQL using Python

In [2]:
cursor = connection.cursor()

cursor.execute("CREATE TABLE studentinfo (id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), subject VARCHAR(255))")

### Insert Records in Table

In [3]:
query = "INSERT INTO studentinfo (name, subject) VALUES (%s, %s)"
value = ("John", "Stats")
cursor.execute(query,value)
print("Row inserted",cursor.lastrowid)

Row inserted 1

In [4]:
### Insert multiple records in Table
query = "INSERT INTO studentinfo (name, subject) VALUES (%s, %s)"
values = [("Krish", "Stats"),
        ("Joe", "Maths"),
        ("Ankur","Data Science"),
        ("Paul","Data Science"),
        ("Vishal","Maths"),
        ("Krish","Data Science")]
cursor.executemany(query,values)
print("Row inserted",cursor.lastrowid)

Row inserted 2

#### Select All

In [6]:
cursor = connection.cursor()
cursor.execute("Select * from studentinfo")

In [7]:
### Fetch All the Data
cursor.fetchall()

[(1, 'John', 'Stats'),
 (2, 'Krish', 'Stats'),
 (3, 'Joe', 'Maths'),
 (4, 'Ankur', 'Data Science'),
 (5, 'Paul', 'Data Science'),
 (6, 'Vishal', 'Maths'),
 (7, 'Krish', 'Data Science')]

In [8]:
### Fetch One Record At A time
cursor.fetchone()

In [9]:
lst=cursor.fetchall()

InterfaceError: No result set to fetch from.

In [10]:
for records in lst:
    print(records)

NameError: name 'lst' is not defined

#### Selecting Particular Rows

In [11]:
cursor.execute("Select * from studentinfo where name='Krish'")

In [12]:
### Fetch All the Data
cursor.fetchall()

[(2, 'Krish', 'Stats'), (7, 'Krish', 'Data Science')]

#### Select Particular Columns

In [13]:
cursor.execute("Select subject from studentinfo")
#### Fetch All
cursor.fetchall()

[('Stats',),
 ('Stats',),
 ('Maths',),
 ('Data Science',),
 ('Data Science',),
 ('Maths',),
 ('Data Science',)]

In [14]:
## Select Distinct Columns
cursor.execute("SELECT DISTINCT subject from studentinfo")
#### Fetch All
cursor.fetchall()

[('Stats',), ('Maths',), ('Data Science',)]

In [15]:
cursor.execute("SELECT name, subject FROM studentinfo WHERE name = 'Krish' OR subject = 'Data Science'") 
#### Fetch All
cursor.fetchall()

[('Krish', 'Stats'),
 ('Ankur', 'Data Science'),
 ('Paul', 'Data Science'),
 ('Krish', 'Data Science')]

### Drop Table

In [16]:
cursor.execute("DROP TABLE studentinfo")