#### Creating Databases in MySQL

In [1]:
# pip install mysql-connector-python (IN ACACONDA PROPT) & OPEN JUPYTER AT THAT LOCATION ONLY
### Create MySQL Connection
import mysql.connector as sql

connection = sql.connect(
  host="localhost",
  user="root",
  password="password"
)

print(connection)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001C2DA48A2C8>

### Creating Databases

In [3]:
cursor1 = connection.cursor()

cursor1.execute("CREATE DATABASE student3")

In [4]:
cursor1.execute('SHOW DATABASES')

In [5]:
for database1 in cursor1:
    print(database1)

('information_schema',)
('mysql',)
('performance_schema',)
('sakila',)
('student',)
('student2',)
('student3',)
('sys',)
('vitthal',)
('world',)

### Execute And Drop Some Databases And Check

In [7]:
cursor1.execute("DROP DATABASE student2")

In [8]:
cursor1.execute('SHOW DATABASES')

In [9]:
for database1 in cursor1:
    print(database1)

('information_schema',)
('mysql',)
('performance_schema',)
('sakila',)
('student',)
('student3',)
('sys',)
('vitthal',)
('world',)